.select{
    width: 40%;
    height: 100vh!important;
    height:auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: #fff;
    transform: translate(5.1vw, -90vh);
}

.cart{
    height: 10vh;
    border: 1px solid rgba(0, 0, 0, 0.25);
}


.btnChekout{
    width: 31vw;
    height: 7vh;
    background-color: #57CAD5;
    transform: translate(4vw,66vh);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
}

.btnCancel{
    width: 31vw;
    height: 7vh;
    background-color: #F24F8A;
    border: none;
    transform: translate(4vw, 68vh);
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
}

.btnPrint{
    width: 21vw;
    height: 7vh;
    background-color: #57CAD5;
    transform: translate(10vw,43vh);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}

.btnSend{
    width: 21vw;
    height: 7vh;
    background-color: #F24F8A;
    transform: translate(10vw,50vh);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}

.text{
    width: 10vw;
    transform: translate(20vw,38vh);
}

.btn{
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82DE3A;
    width: 10vw;
    height: 6vh;
}
.num{
    background: #FFFFFF;
    border: 1px solid #82DE3A;
    text-align: center;
    padding-top: 1vh;
    width: 10vw;
    height: 6vh;
}

.increment{
    display: flex;
    flex-direction: row;
    width: 10vw;
}